<h1 style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: 100;">
  
    Medicine Details</h1>
  <br><br>
  <table class="table table-bordered table-dark" >
        <thead>
          <tr>
              <th>ID</th>
              <th>drug Name</th>
              <th>Stock</th>
              
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicine of medicines">
            <td>{{medicine.id}}</td>
            <td>{{medicine.drugName}}</td>
            <td>{{medicine.stock}}</td>
            
    
    </tr>
          
        </tbody>
      </table>