
<h2> welcome to admin homepage</h2>

<button (click)="viewPatient()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">View Patients</span>
  </button>
  <br><br>

  <button (click)="viewDoctor()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">View Doctor</span>
  </button>
  <br><br>

  <button (click)="viewMedicine()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">View Medicines</span>
  </button>
  <br><br>

  <button (click)="viewAppointments() " class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">View Appointments</span>
  </button>

  
  